.text-block{"data-chat-room-id" => "#{@chat_room.id}", id: "chat_room_#{@chat_room.id}"}
  .informations
    = @chat_room.sender.nick
    .quit-button{"data-chat-room-to-close" => "#{@chat_room.id}"} X
  .messages-block
    - @chat_room.messages.each do |message|
      = render partial: 'messages/all_messages', locals: {message: message}
  .input-sender
    = form_for @message, url: '#', class: 'new_message' do |f|
      = hidden_field_tag 'chat_room_id', @chat_room.id
      = f.text_field :body, class: 'form-control form-control-sm', placeholder: 'Write Message...'
