%nav.top-menu
  = link_to root_url, class: 'navbar-brand' do
    Online Rooms #{yield(:page_title)}

  %ul.nav.navbar-nav.pull-xs-right
    - if user_signed_in?
      %li.nav-item
        = link_to "Hello #{current_user.name}!", edit_user_registration_path, class: "top-nav-link"
      %li.nav-item
        = link_to 'Logout', destroy_user_session_path, :method => :delete, class: "top-nav-link"
    - else
      %li.nav-item
        = link_to 'Login', new_user_session_path, class: "top-nav-link"

  = form_tag(root_path, method: "get", class: 'search-form-inline') do
    = text_field_tag :search, nil, class: '.form-control', placeholder: 'Search Chat Room...'
    = submit_tag "Search", class: 'btn btn-outline-secondary btn-sm'

