!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      Chat #{yield(:page_title)}
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:id => "#{current_user.try(:id)}", :name => "current-user"}/
  %body
    = render 'layouts/top_menu'
    .page-content
      .col-xs-12
        = yield
    = render 'layouts/bottom_messages' if user_signed_in?
